.calc{
    width:400px;
    height:550px;
    background: black;
    margin-left: 550px ;
    margin-top: 50px;
      
}
#screen{
    height: 50px;
    width: 300px;
    margin-left: 45px;
    margin-top: 25px;
    pointer-events: none;
    background-color: grey;
}
.btn{
    height:40px;
    width:50px;
    margin-top: 50px;
    margin-left:35px;
    background-color: grey ;
}